<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gomefinance.promotion.manager.mapper.TGoodsgroupMapper" >
  <resultMap id="BaseResultMap" type="com.gomefinance.promotion.manager.entity.TGoodsgroup" >
    <id column="grouid" property="grouid" jdbcType="BIGINT" />
    <result column="groupName" property="groupName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    grouid, groupName
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gomefinance.promotion.manager.entity.TGoodsgroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_goodsgroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_goodsgroup
    where grouid = #{grouid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_goodsgroup
    where grouid = #{grouid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.gomefinance.promotion.manager.entity.TGoodsgroupExample" >
    delete from t_goodsgroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gomefinance.promotion.manager.entity.TGoodsgroup" useGeneratedKeys="true" keyProperty="grouid" >
    insert into t_goodsgroup (groupName)
    values (#{groupName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gomefinance.promotion.manager.entity.TGoodsgroup" useGeneratedKeys="true" keyProperty="grouid" >
    insert into t_goodsgroup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupName != null" >
        groupName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gomefinance.promotion.manager.entity.TGoodsgroupExample" resultType="java.lang.Integer" >
    select count(*) from t_goodsgroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_goodsgroup
    <set >
      <if test="record.grouid != null" >
        grouid = #{record.grouid,jdbcType=BIGINT},
      </if>
      <if test="record.groupName != null" >
        groupName = #{record.groupName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_goodsgroup
    set grouid = #{record.grouid,jdbcType=BIGINT},
      groupName = #{record.groupName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gomefinance.promotion.manager.entity.TGoodsgroup" >
    update t_goodsgroup
    <set >
      <if test="groupName != null" >
        groupName = #{groupName,jdbcType=VARCHAR},
      </if>
    </set>
    where grouid = #{grouid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gomefinance.promotion.manager.entity.TGoodsgroup" >
    update t_goodsgroup
    set groupName = #{groupName,jdbcType=VARCHAR}
    where grouid = #{grouid,jdbcType=BIGINT}
  </update>
</mapper>